<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidlabs">

    <!-- Required permissions for app (if any) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AndroidLabs">

        <!-- Main activity -->
        <activity
            android:name=".DadJoke"
            android:label="@string/title_activity_dad_joke"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true"> <!-- Explicitly set exported attribute -->

            <!-- Define the intent filter for the activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Other activities can be added here if necessary -->

    </application>
</manifest>
